APT::Periodic::Update-Package-Lists "{{updates_update_package_lists}}";
APT::Periodic::Download-Upgradeable-Packages "{{updates_download_upgradeable_packages}}";
APT::Periodic::AutocleanInterval "{{updates_autoclean_interval}}";
APT::Periodic::Unattended-Upgrade "{{updates_unattended_upgrade}}";
APT::Periodic::RandomSleep "{{updates_random_sleep}}";
